@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-primary text-textPrimary;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .nav-link {
    @apply cursor-pointer hover:text-secondary transition-colors duration-300;
  }
  
  .section-title {
    @apply text-3xl sm:text-4xl font-bold mb-8;
  }
  
  .btn-primary {
    @apply px-6 py-3 border-2 border-secondary text-secondary rounded hover:bg-secondary/20 transition-all duration-300;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
